*{
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
  margin-top: 40px;
    display: flex;
    align-items: center;
    background-color: #f9fcff;
    margin: 0 auto;
    justify-content: center ;
    position: sticky;
    width: 100%;
    height: 50px;
}
.icon{
  font-weight: 700;
  font-size: 27px;
  margin: 10px;
}
.rigth-side{
    border-color: rgb(17, 17, 17);
    border-style: solid;
    border-bottom: 1px;
    border-radius: 30px;
    padding: 15px 20px;
    margin: 7px 0;
   position: sticky;
    white-space: nowrap;
}



.rigth-side ul {
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 18px;
  }  
  .rigth-side ul li {
    list-style: none;
  }
  .rigth-side ul li a {
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-size: 25px;
  }
  body{
    background-color: #edfbfd;
  }
  .body{
    display: flex;

    align-items: center;
    margin: 10px 100px;
    margin-top: 0;
  }
  .body-left{
    width: 50%;
  }
  .img{
    border-radius: 6px;
    margin: 60px;
    margin-top: 0;
    width: 500px;
    display: flex;
    height: 500px;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./img/car2.jpg);
    background-position: center;
    background-size:cover ;
    
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .body-rigth{
    justify-content: center;
  }
  .body-rigth .img .bottom{
    background-color: black;
    color: white;
    font-size: 25px;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    padding: 18px 34px;
    border-radius: 16px;
  }
  .body-rigth .img .bottom ul li{
    list-style: none;

  }
  .body-rigth .img .bottom li a{
    color: white;
    text-decoration: none;
  }
  .body-rigth .img .bottom:hover{
    background-color: rgb(29, 25, 25);
    padding: 20px 36px;
    font-size: 28px;
    position: relative;
    transition: 65ms;
    box-shadow: 8px 9px 10px rgba(17, 17, 17, 0.2);

  }
  .services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 3rem;
    flex-wrap: wrap;
    margin: 20px;


  }
  .services-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0 0 0 0.1);

  }
  .services-container .box .box-img{
    width: 100%;
    height: 200px;

  }
  .services-container .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
  }
  .services-container .box p{
    padding: 0 10px;
    border: 1px solid var(black);
    border-radius: 0,5rem;
    margin: 1rem 0 1rem;
  }
  .services-container .box  h3{
    font-weight: 500;

  }
  .services-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.2 rem 0 0.5rem;
    color: rgb(224, 69, 13);
  }
  .services-container .box h2 span{
  font-size: 0.8rem;
  font-weight: 700;
  color: black;
  }
  .services-container .box .btn{
  display: flex;
  justify-content: center;
  color: white;
  background: #474fa0;
  padding: 10px;
  border-radius: 0.5rem;
  }
  .services-container .box .btn{
  text-decoration: none;
  font-size: 27px;
  }
  .services-container .box .btn:hover{
    background:rgb(224 69 13);
  }
  .services .heading{
    text-align: center;
    font-size: 30px;
  }


